@model Int32
<form class="d-flex" asp-controller="Basket" asp-action="Index">
    <button class="btn btn-outline-dark" style="width:auto" type="submit">
        <i class="bi-cart-fill me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">@Model</span>
    </button>
</form>
